.progress{
    width: 120px;
    height: 120px;
    line-height: 140px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

#purple{
    color:orchid;
	margin-top: 10px;
	border: 1px solid orchid;
}
#blue{
    color:aqua;
	border: 1px solid aqua;
}

.progress > span{           /*Da*/
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress.blue{
    left: 0;
    transform: rotate(180deg);
}

.progress.blue .progress-value{
    transform: rotate(180deg);
    position: relative;
    top: 25px;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
#purple{
    color: mediumpurple;   
}
#blue{
    color: aqua;   
}
.progress .progress-right{
    right: 0;    
}

.progress .progress-left{
    left: 0;    
}
.progress.purple {
	position:relative;
	left: 0px;              /*kann man noch verschieben, wenn es zu aneinander ist */
}
.progress.purple .progress-bar{
    border-color: orchid;
}
.progress.blue .progress-bar{
    border-color: aqua;
}
.progress .progress-value{                  /*Der Wert in der Progressbar*/
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 18px;
    color: black;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

/*Fuer die Animationen*/

/*Hinterer Teil der Process Bar - von beiden*/
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;                          /*sorgt dafür, dass es rund wird!*/
    /*animation: loading-1 1.8s linear forwards; */
}
/*Vorderer Teil der Process Bar - von beiden*/
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;                   /*Transformiert beide enden der Progressbar */
    border-bottom-left-radius: 80px;                /*   das ist auch dr Grund dafür, dass man eben zwei Progressbars braucht */
    border-right: 0;
    transform-origin: center right;
    /*animation: loading-1 1.8s linear forwards; */
}
.progress.blue .progress-left .progress-bar{
   /* animation: loading-1 1.5s linear forwards 1.8s; */  
}

.progress.purple .progress-left .progress-bar{
   /* animation: loading-1 1.5s linear forwards 1.8s;  */
}

.progress.purple .progress-right .progress-bar{
   /*-webkit-transform-origin: center right;
    transform-origin: center right;
    */
    animation: loading-1 1s linear forwards 1.8s;         
}


.progress.blue .progress-right .progress-bar{
   /*-webkit-transform-origin: center right;
    transform-origin: center right;
    */
    animation: loading-1 1s linear forwards 1.8s;         
}


.advert-points{

    position: relative;
    top: 130px;
    right: 40px;
    }
  
/*Wir brauchen an sich nicht alle keyframes...das kann man über eine Funktion
  definieren dann später */


@keyframes loading-1{                           /*Ein Halbkreis komplett gefüllt*/
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{                                       /*keyframe sorgt für den Effekt, das es von 0 auf 144 Grad gefüllt wird*/
    0%{                                                     
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } ge
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
