th, td {text-align: center;
        width: 14%;}
.progress-bar {color: black;}

h2 {
    margin-bottom: 30px;
}

.row {
    margin-top: 10px;
}

.diagramm-content{
    
    position: relative;
    top: 4px;
    left: 3px;
}

.progress {
    position: relative;
    top: 10px;
}

.points{
    position: relative;
    top: 5px;
}

#cara1, #cara2{
    
    background-color: cornflowerblue;
    
    position: relative;
    top:  50px;
}

#myBox{
    margin: 20px;
}






